<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Météo</title>
	<link rel="stylesheet" href="/assets/semantic/semantic.min.css">
	<link rel="stylesheet" href="/assets/main.css">
</head>
<body>
	<header>
		<div class="ui fixed inverted menu">
			<a href="index.ejs" class="header item">Accueil</a>
		</div>
	</header>
		
